<script type="text/javascript">
  $(document).ready(function(){
              $('#resetPwdSubmit').click(function (){
                  if($('#emailForPwdConfirm').val() == '') {
                      alert("Email field cannot be blank");
                      return false;
                  } else {
                      return true;
                  }
              });
          });
</script>

<div class="userLogIN">
  <h1>Forgot your password?</h1>

  <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true ,placeholder: "Your E-mail ID", class:'textfield', id:'emailForPwdConfirm' %></div><br />

      <div><%= f.submit "Send me reset password instructions" , class: 'loginButton', id: 'resetPwdSubmit' %></div>
  <% end %>

</div>

